* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

Body {
  background-color: antiquewhite;
}

/* p {
    color: blueviolet;
} */

#primersubtitulo {
  color: blue;
}

.parrafo {
  color: brown;
}
